/*{
"color100":"#f0f6fc",
"color200":"#c9d1d9",
"color300":"#b1bac4",
"color400":"#8b949e",
"color500":"#6e7681",
"color600":"#484f58",
"color700":"#30363d",
"color800":"#21262d",
"color900":"#161b22",
"color1000":"#0d1117"}
*/
body {
    background-color: #0d1117;
}
.tabdiv {
    margin-top: 100px;
    max-height: 600px;
    overflow: auto;
}
.content-table {
    border-collapse: collapse;
    margin: auto;
    font-size: 0.9em;
    max-width: 80%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.45);
    background-color: #161b22;
    color: #8b949e;
    margin-bottom: 0;
}
.content-table thead tr {
    font-weight: bold;
    color: #0d1117;
    background-color: #484f58;
    letter-spacing: 0.5px;
}
.content-table th,
.content-table td {
    padding: 3px 8px 2px 5px;
    max-width: 120px;
}
.god-header {
    text-align: left;
}
.god-column {
    border-right: 1px;
    text-align: left;
}
.data-header {
    text-align: right;
}
.data-column {
    text-align: right;
}
.content-table tbody {
}
.content-table tbody tr {
    border-bottom: 2px solid #0d1117;
}
.content-table tbody tr:nth-of-type(even) {
    background-color: #21262d;
}
.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #0d1117;
}

@media screen and (max-width: 768px) {

}