<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puff Daddy Continental</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
</head>

<body>
    <ul id="mode-select-list">
        <li><a class="mode-a" onclick="selectMode('435', {{tables}})">Arena</a></li>
        <li><a class="mode-a" onclick="selectMode('426', {{tables}})">Conquest</a></li>
        <li><a class="mode-a" onclick="selectMode('448', {{tables}})">Joust</a></li>
        <li><a class="mode-a" onclick="selectMode('445', {{tables}})">Assault</a></li>
        <li><a class="mode-a" onclick="selectMode('10189', {{tables}})">Slash</a></li>
        <li><a class="mode-a" onclick="selectMode('451', {{tables}})">Conquest Ranked</a></li>
        <li><a class="mode-a" onclick="selectMode('450', {{tables}})">Joust Ranked</a></li>
        <li><a class="mode-a" onclick="selectMode('440', {{tables}})">Duel Ranked</a></li>
        <li><a class="mode-a" onclick="selectMode('10195', {{tables}})">Under 30 Arena</a></li>
        <li><a class="mode-a" onclick="selectMode('10193', {{tables}})">Under 30 Conquest</a></li>
        <li><a class="mode-a" onclick="selectMode('10197', {{tables}})">Under 30 Joust</a></li>
    </ul>
    <br><br>
    <ul id="column-select-list">
        <li><a class="column-a" onclick="selectColumn('damage', {{rows}})">Player Damage</a></li>
        <li><a class="column-a" onclick="selectColumn('mitigated', {{rows}})">Mitigation</a></li>
        <li><a class="column-a" onclick="selectColumn('kills', {{rows}})">Kills</a></li>
        <li><a class="column-a" onclick="selectColumn('assists', {{rows}})">Assists</a></li>
        <li><a class="column-a" onclick="selectColumn('healing', {{rows}})">Healing</a></li>
        <li><a class="column-a" onclick="selectColumn('selfhealing', {{rows}})">Self Healing</a></li>
    </ul>
    <div>
        <br><br>
        <table id="scores" class="content-table" style="margin:auto">
            <thead>
                <tr>
                    <th class="god-header">God</th>
                    {% for header in tableheaders %}
                        <th class="data-header">{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range(len(rows["damage"])) %}
                    <tr>
                        <td class="god-column">{{gods[i]}}</td>
                        {% for value in rows["damage"][i] %}
                            <td class="data-column">{{value}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    var selectedColumn = 'damage';
    function selectColumn(column, rows) {
        selectedColumn = column;
        tds = document.getElementsByClassName("data-column");
        values = rows[column].flat();
		for (let i = 0; i < tds.length; i++) {
            tds[i].innerHTML = values[i];
            tds[i].style.fontWeight = "normal";
            if (i % 3 == 2) {
                biggest = tds[i];
                if (tds[i-1].innerHTML > tds[i].innerHTML) {
                    biggest = tds[i-1];
                    if (tds[i-2].innerHTML > tds[i-1].innerHTML) {
                        biggest = tds[i-2];
                    }
                } else if (tds[i-2].innerHTML > tds[i].innerHTML) {
                    biggest = tds[i-2];
                }
                biggest.style.fontWeight = "bold";
            }
		}
    }
    function selectMode(mode, tables) {
        selectColumn(selectedColumn, tables[mode]);
    }
</script>
</html>