<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puff Daddy Continental</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/scores.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
</head>

<body>
    <div>
        <nav>
            <ul class="mode-links">
                <li><a onclick="selectMode('435', {{tables}})">Arena</a></li>
                <li><a onclick="selectMode('426', {{tables}})">Conquest</a></li>
                <li><a onclick="selectMode('448', {{tables}})">Joust</a></li>
                <li><a onclick="selectMode('445', {{tables}})">Assault</a></li>
                <li><a onclick="selectMode('10189', {{tables}})">Slash</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="mode-links">
                <li><a onclick="selectMode('451', {{tables}})">Conquest Ranked</a></li>
                <li><a onclick="selectMode('450', {{tables}})">Joust Ranked</a></li>
                <li><a onclick="selectMode('440', {{tables}})">Duel Ranked</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="mode-links">
                <li><a onclick="selectMode('10195', {{tables}})">Arena <30</a></li>
                <li><a onclick="selectMode('10193', {{tables}})">Conquest <30</a></li>
                <li><a onclick="selectMode('10197', {{tables}})">Joust <30</a></li>
            </ul>
        </nav>
    </div>
    <div>
        <button type="button" onclick="selectColumn('damage', {{tables['435']}})">Player Damage</button><br>
        <button type="button" onclick="selectColumn('mitigated', {{tables['435']}})">Mitigation</button><br>
        <button type="button" onclick="selectColumn('kills', {{tables['435']}})">Kills</button><br>
        <button type="button" onclick="selectColumn('assists', {{tables['435']}})">Assists</button><br>
        <button type="button" onclick="selectColumn('healing', {{tables['435']}})">Healing</button><br>
        <button type="button" onclick="selectColumn('selfhealing', {{tables['435']}})">Self Healing</button><br>
    </div>
    <div>
        <table id="scores" class="content-table">
            <thead>
                <tr>
                    <th class="god-header">God</th>
                    {% for header in tableheaders %}
                        <th class="data-header">{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range(len(tables['435']["damage"])) %}
                    <tr>
                        <td class="god-column">{{gods[i]}}</td>
                        {% for value in tables['435']["damage"][i] %}
                            <td class="data-column">{{value}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>
    var selectedColumn = 'damage';
    function selectColumn(column, rows) {
        selectedColumn = column;
        tds = document.getElementsByClassName("data-column");
        values = rows[column].flat();
		for (let i = 0; i < tds.length; i++) {
            tds[i].innerHTML = values[i];
            tds[i].style.fontWeight = "normal";
            if (i % 3 == 2) {
                biggest = tds[i];
                if (tds[i-1].innerHTML > tds[i].innerHTML) {
                    biggest = tds[i-1];
                    if (tds[i-2].innerHTML > tds[i-1].innerHTML) {
                        biggest = tds[i-2];
                    }
                } else if (tds[i-2].innerHTML > tds[i].innerHTML) {
                    biggest = tds[i-2];
                }
                biggest.style.fontWeight = "bold";
            }
		}
    }
    function selectMode(mode, tables) {
        selectColumn(selectedColumn, tables[mode]);
    }
</script>
</html>