<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puff Daddy Continental</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <img src="/static/pdclogo.png">
    <br>
    <form action="start" method="post">
        {% for message in get_flashed_messages()%}
            <p> {{message}} </p>
        {% endfor %}
        <br>
<!--        <input type="text" name="name_input">-->
        <br>
        <input type="submit" value="START" id ="start">
    </form>
    <form action="scoreboard" method="post">
        <input type="submit" value="SCOREBOARD" id="scoreboard">
    </form>
</body>
</html>