<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puff Daddy Continental</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/scores-nav.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/scores-table.css')}}">
    <script src="/static/js/main.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
<!--    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>-->
</head>

<body style="color: #333333" onload="load({{gods}}, {{roles}}, {{tables}})">
    <div>
        <nav>
            <div class="dropdown">
                <button class="dropbutton" id="mode-select-button">Arena</button>
                <div class="dropdown-content">
                    <a onclick="selectMode('435', {{tables}})">Arena</a>
                    <a onclick="selectMode('426', {{tables}})">Conquest</a>
                    <a onclick="selectMode('448', {{tables}})">Joust</a>
                    <a onclick="selectMode('445', {{tables}})">Assault</a>
                    <a onclick="selectMode('10189', {{tables}})">Slash</a>
                    <a onclick="selectMode('451', {{tables}})">Conquest Ranked</a>
                    <a onclick="selectMode('450', {{tables}})">Joust Ranked</a>
                    <a onclick="selectMode('440', {{tables}})">Duel Ranked</a>
                    <a onclick="selectMode('10195', {{tables}})">Arena <30</a>
                    <a onclick="selectMode('10193', {{tables}})">Conquest <30</a>
                    <a onclick="selectMode('10197', {{tables}})">Joust <30</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbutton" id="column-select-button">Damage</button>
                <div class="dropdown-content">
                    <a onclick="selectColumn('damage', {{tables['435']}})">Damage</a>
                    <a onclick="selectColumn('mitigated', {{tables['435']}})">Mitigated</a>
                    <a onclick="selectColumn('kills', {{tables['435']}})">Kills</a>
                    <a onclick="selectColumn('assists', {{tables['435']}})">Assists</a>
                    <a onclick="selectColumn('healing', {{tables['435']}})">Healing</a>
                    <a onclick="selectColumn('selfhealing', {{tables['435']}})">Self Healing</a>
                </div>
            </div>
            <div class="dropdown">
                <button class="dropbutton" id="role-select-button">
                    Roles
<!--                    <div class="small">Click to toggle all</div>-->
                </button>
                <div class="dropdown-content">
                    <div class="role-drop">
                        <label class="title" for="Assassin">
                            <input type="checkbox" class="cbox" id="Assassin"/>
                            <a>Assassin</a>
                        </label>
                    </div>
                    <div class="role-drop">
                        <label class="title" for="Guardian">
                            <input type="checkbox" class="cbox" id="Guardian"/>
                            <a>Guardian</a>
                        </label>
                    </div>
                    <div class="role-drop">
                        <label class="title" for="Hunter">
                            <input type="checkbox" class="cbox" id="Hunter"/>
                            <a>Hunter</a>
                        </label>
                    </div>
                    <div class="role-drop">
                        <label class="title" for="Mage">
                        <input type="checkbox" class="cbox" id="Mage"/>
                            <a>Mage</a>
                        </label>
                    </div>
                    <div class="role-drop">
                        <label class="title" for="Warrior">
                            <input type="checkbox" class="cbox" id="Warrior"/>
                            <a>Warrior</a>
                        </label>
                    </div>
                </div>
            </div>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
    </div>
    <div class="tabdiv">
        <table id="scores" class="content-table">
            <thead class="header">
                <tr class="header-row">
                    <th class="god-header">God</th>
                    {% for header in tableheaders %}
                        <th class="data-header">{{header}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for i in range(len(tables['435']["damage"])) %}
                    <tr class="data-row">
                        <td class="god-column">{{gods[i]}}</td>
                            {% for value in tables['435']["damage"][i] %}
                                <td class="data-column">{{value}}</td>
                            {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
<script>

</script>
</html>