<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puff Daddy Continental</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>

<style>
    .content-table {
        border-collapse: collapse;
    }
</style>

<body>
    <h1>Arena Scoreboard</h1>
    <table class="content-table">
        <thead>
            <tr>
                <th>Player</th>
                <th>God</th>
                <th>Damage</th>
                <th>Mitigated</th>
                <th>Kills</th>
                <th>Assists</th>
                <th>Healing</th>
                <th>Self Healing</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>creviceguy</td>
                <td>Agni</td>
                <td>15</td>
                <td>20190</td>
                <td>2</td>
                <td>22</td>
                <td>4300</td>
                <td>900</td>
            </tr>
            <tr>
                <td>creviceguy</td>
                <td>Cu Chulainn</td>
                <td>15042</td>
                <td>28190</td>
                <td>20</td>
                <td>2</td>
                <td>400</td>
                <td>9000</td>
            </tr>
            <tr>
                <td>Läsäri</td>
                <td>Agni</td>
                <td>10455</td>
                <td>10190</td>
                <td>12</td>
                <td>21</td>
                <td>300</td>
                <td>100</td>
            </tr>
            <tr>
                <td>Spuik</td>
                <td>Aphrodite</td>
                <td>45055</td>
                <td>80190</td>
                <td>15</td>
                <td>34</td>
                <td>43000</td>
                <td>49000</td>
            </tr>
        </tbody>
    </table>
</body>
</html>