<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puff Daddy Continental</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <img src="/static/pdclogo.png">
    <br>
    <form action="check" method="post">
        <input type="submit" value="CHECK" id ="check">
    </form>
    <form action="gods" method="post">
        <input type="submit" value="GODS" id="gods">
    </form>
    <form action="arena" method="post">
        <input type="submit" value="ARENA" id="arena">
    </form>
    <form action="update" method="post">
        <input type="submit" value="UPDATE" id="update">
    </form>
</body>
</html>