<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Puff Daddy Continental</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
</head>
<body>
    <img src="/static/pdclogo.png">
    <br>
    <form action="check" method="post">
        <input type="submit" value="CHECK" id="check">
        {% for msg in get_flashed_messages(): %}
        <p> {{ msg }} </p>
        {% endfor %}
    </form>
   <form action="conquest" method="post">
        <input type="submit" value="CONQUEST" id="conquest">
    </form>
</body>
</html>